
.tituloFormulario{
    text-align: center;
    font-size: 5rem;
    background-color: rgb(131, 241, 190);
    font-family: 'Josefin Sans', sans-serif;
}
.formulario{
    background-color: rgb(161, 202, 188);
    justify-content: center;
    display: flex;
    flex-direction: column;
    height:400px;
    font-size: 1.25rem;
    text-align: center;
}

#colorBotonEnviar{
    background-color: #6ff5df;
}