
.formulario{
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    text-align: left;
}

#colorBotonEnviar{
    background-color: #6ff5df;
}

button{
    font-size: 30px !important;
}