
.contenedorSeccion{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.3fr;
    grid-template-areas: 
    "header header header "
    "cuerpo cuerpo cuerpo "
    "footer footer footer "
}

.headerSeccion{grid-area: header;}
.cuerpoSeccion{grid-area: cuerpo;}
.footer{grid-area:footer;}